<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">

		<!-- <session-management> <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" 
			/> </session-management> -->

		<intercept-url pattern="/batch/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/welcome/**" access="permitAll" />
		<intercept-url pattern="/claim/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/addpolicy/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/policy/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
		<intercept-url pattern="/dashboard/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/enquiry/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/upload/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/editBatch/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/batchUsers/**" access="hasAnyRole('ADMIN','INSURER')" />
		<intercept-url pattern="/setting/**" access="hasAnyRole('ADMIN','INSURER')" />

		<!-- access denied page -->
		<access-denied-handler error-page="/403" />

		<form-login login-page="/login" login-processing-url="/j_spring_security_check"
			authentication-failure-url="/login?error" username-parameter="username"
			authentication-success-handler-ref="customAuthenticationSuccessHandler"
			password-parameter="password" />
		<logout logout-success-url="/login?logout" logout-url="/j_spring_security_logout"
			delete-cookies="JSESSIONID" invalidate-session="true" />
		<!-- enable csrf protection -->

		<csrf />
	</http>

	<beans:bean name="bcryptEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<beans:bean id="customAuthenticationSuccessHandler"
		class="com.mid.web.controller.CustomUrlAuthenticationSuccessHandler" />


	<!-- Select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>
			<password-encoder ref="bcryptEncoder" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username, password, enabled from ${jdbc.table.users} where UserName=?"
				authorities-by-username-query="select username, role_nm as role from ${jdbc.table.userroles} where UserName=?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>